<h1>Actividad: Sistema Blogging en Angular</h1>
<hr />
<h2>Formulario</h2>
<div class="form">
  <div>
    <label class="etiquetas" for="title">Título</label>
    <input
      class="input__blog"
      type="text"
      id="title"
      placeholder=" inserte el título"
    />
  </div>
  <div>
    <label class="etiquetas" for="img">Imagen</label>
    <input
      class="input__blog"
      type="text"
      id="img"
      placeholder=" inserte la url de la imagen"
    />
  </div>
  <div>
    <label class="etiquetas" for="description">Texto de la noticia</label>
    <textarea
      class="input__blog"
      id="description"
      placeholder=" inserte el texto de la noticia"
    ></textarea>
  </div>
  <div>
    <label class="etiquetas" for="date">fecha publicación</label>
    <input
      class="input__blog"
      type="date"
      id="date"
      placeholder="inserte la fecha de publicación"
    />
  </div>
  <div class="btn__blog">
    <button>Enviar</button>
  </div>
</div>
<hr />
<h2>Listado de noticias</h2>
<section>
  <ul></ul>
</section>
